body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    margin: 0px;
    padding-left: 200px;
    padding-right: 200px;
    align-content: center;
    text-align: center;
}
.contenedor{
    text-align: center;
    height: 300px;
    padding-top: 0px;
    margin: 0px;
    box-shadow: 2px 1px 7px;
    border-width: 2px;
    border-color: rgb(68, 62, 62);
    background-color: brown;
}
header{
    background-color: blueviolet;
    color: cornsilk;
    height: 15%;
    box-shadow: 0px 1px 0px 0px;
    margin: 0px;
}
article{
    height: 62%;
}

.footer{
    background: gray;
    margin-top: 0%;
    height: 10%;
    box-shadow: 0.5px 1px 0.5px;
}
